sudo: false
dist: trusty

env:
  global:
    - DEPS=$HOME/deps
    - PATH=$DEPS/bin:$PATH

addons:
  apt:
    packages:
      - silversearcher-ag

install: |
  C_OPTS="--prefix=$DEPS --with-features=huge --disable-gui "
  git clone --depth 1 https://github.com/vim/vim
  cd vim
  export PATH=/usr/bin:$PATH
  ./configure $C_OPTS
  make
  make install
  vim --version
  cd -

script: test/run
